*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: relative;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
}
.content h1{
    font-size: 64px;
    font-weight: 500;
}
.content h1 span{
    color: rgb(255, 217, 0);
}
.content button{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 12px 25px;
    outline: none;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.rocket{
    position: absolute;
    width: 250px;
    bottom: 0;
    right: 10%;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}