body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.container{
    height: 500px;
    width: 400px;
    background-color: purple;
    margin-left: 430px;
    margin-top: 50px;
}
h2{
    color: white;
    font-size: 30px;
    text-align: center;

}
.box{
    height: 200px;
    width: 200px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 90px;
    border-radius: 50%;
    border: 5px solid black;
}
.number-display{
    position: relative;
    top: 30px;
    left: 80px;
    font-size: 30px;
}
button{
    height: 40px;
    width: 100px;
    margin-top: 100px;
    margin-left: 60px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer; 
    border-radius: 20px; 
}
button:hover{
background-color: plum;
}    