body{
     background-color: rgb(224, 247, 131);
}
.container{
    height: 450px;
    width: 350px;
    background-color: black;
    margin-left: 440px;
    margin-top: 80px;
}
h1{
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}
#box{
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
    height: 50px;
    width: 220px;
    background-color:  rgb(233, 245, 180);
    text-align: center;
    font-size: 38px;
} 
button{
    height: 50px;
    width:220px;
    position: absolute;
    margin-left: 60px;
    margin-top: 300px;
    cursor: pointer;
}
button:hover{
    background-color:  rgb(187, 198, 137);
}