*{
    background-color: black;
}
.button1{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    background-color: rgb(51, 172, 130);
}

.button1:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}


.button2{
    box-shadow: 0 0 5px pink,
    0 0 25px pink;
    background-color: rgb(190, 54, 131);
}

.button2:hover{
    box-shadow: 0 0 5px rgb(185, 25, 180),
    0 0 25px rgb(185, 25, 180), 0 0 50px rgb(185, 25, 180),
    0 0 100px rgb(185, 25, 180), 0 0 200px rgb(185, 25, 180);
}


.button3{
    box-shadow: 0 0 5px greenyellow,
    0 0 25px greenyellow;
    background-color: green;
}

.button3:hover{
    box-shadow: 0 0 5px greenyellow,
    0 0 25px greenyellow, 0 0 50px greenyellow,
    0 0 100px greenyellow, 0 0 200px greenyellow;
}

.button4{
    box-shadow: 0 0 5px white,
    0 0 25px white;
    background-color: rgb(190, 182, 171);
}

.button4:hover{
    box-shadow: 0 0 5px white,
    0 0 25px white, 0 0 50px white,
    0 0 100px white, 0 0 200px white;
}

